Unit]
Description=News pusher service

[Service]
User=root
WorkingDirectory=/home/ubuntu/rusty-mom/momclient
ExecStart=make run-news-pusher
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
